.meal-form{

    width:700px;

    max-width:100%;

    background:#1f2937;

    padding:35px;

    border-radius:20px;

    display:flex;

    flex-direction:column;

    gap:20px;

    border:1px solid rgba(255,255,255,.08);

}

.meal-form input,
.meal-form select,
.meal-form textarea{

    padding:16px;

    border:none;

    outline:none;

    border-radius:12px;

    background:#374151;

    color:white;

    font-size:15px;

}

.meal-form textarea{

    resize:none;

}

.meal-form input::placeholder,
.meal-form textarea::placeholder{

    color:#cbd5e1;

}

.meal-form button{

    padding:16px;

    border:none;

    border-radius:12px;

    background:linear-gradient(90deg,#7c3aed,#2563eb);

    color:white;

    font-size:17px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

}

.meal-form button:hover{

    transform:translateY(-3px);

    box-shadow:0 15px 30px rgba(124,58,237,.35);

}

.meal-form button:disabled{

    opacity:.7;

    cursor:not-allowed;

}