.settings-page{

    padding:30px;

}

.settings-header{

    margin-bottom:30px;

}

.settings-header h1{

    color:white;

    font-size:42px;

}

.settings-header p{

    color:#9ca3af;

    margin-top:10px;

}