.goal-list h2{

    color:white;

    margin-bottom:20px;

    display:flex;

    align-items:center;

    gap:10px;

}

.goal-card{

    background:#1f2937;

    padding:22px;

    border-radius:16px;

    margin-bottom:18px;

}

.goal-top{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:15px;

}

.goal-top h3{

    color:white;

}

.goal-top span{

    color:#a78bfa;

}

.progress{

    width:100%;

    height:12px;

    background:#374151;

    border-radius:50px;

    overflow:hidden;

}

.progress-fill{

    height:100%;

    background:linear-gradient(90deg,#7c3aed,#3b82f6);

    border-radius:50px;

}

.goal-card p{

    margin-top:12px;

    color:#9ca3af;

}